---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
import FooterLinks from './FooterLinks.svelte';
---

<section>
  <DefaultFooter />
  
  <div class="max-w-screen-xl mx-auto px-4">
    <FooterLinks client:only="svelte" />
  </div>
</section>