:root {
  --sl-text-5xl: 2rem;
  --sl-text-4xl: 1.8rem;
  --sl-text-3xl: 1.6rem;
  --sl-text-2xl: 1.4rem;
  --sl-text-xl: 1.25rem;
  --sl-text-lg: 1.125rem;
  --sl-color-accent: #f04b22 !important;
}

.link-title {
  font-size: var(--sl-text-base);
}

select {
  outline: none;
}

.main-pane li {
  margin-left: 2rem;
  list-style-type: initial;
}

.main-pane li li {
  list-style-type: circle;
}
